body{
  font-family: 'Acme', sans-serif; 
  background-color:#fff;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 1.5rem; 
}

#home-bg {
  background: url("../images/mac.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 37rem;
  padding-top: 5%;
}
.navbar {
  z-index: 1; 
}
.navbar {
  background-color: black;
}
.top-nav-collapse {
  background-color: black;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: black;
  }
}
.quote{
  color:white;
  border: rgb(173,216,230);
  border-radius: 20px;
  background-color: rgba(173,216,230, 0.5);
  padding: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}
#title{
  font-size: 4rem;
}
.form-login{
  padding-top: 5%;
  padding-bottom: 20%;
}
.form-edit{
  padding-top: 5%;
  padding-bottom: 35%;
}
.form-blog{
  padding-top: 5%;
}
.comment-area{
  padding-top: 5%;
  padding-bottom:30%;
}
.blog-sec1{
  background-color:  rgba(230,173,216, 0.6);
  color: black;  
}
.blog-sec2{
  background-color:  rgba(173,216,230,0.6);
  color: white;
}
.blog-post{
  margin: 2%;
  background-color: rgba(173,216,230,0.6);
  padding: 1%;
}
.blog-post1{
  margin: 2%;
  background-color: rgba(230,173,216, 0.6);
  padding: 1%;
  color: black;
}
#blogs{
  margin-right: 40%;
  margin-left: 40%;
  text-decoration: underline;
  padding: 2%;
}
.category{
  padding:20px;
  margin-right: 40%;
  margin-left: 40%;
}
.page-footer{
  background-color: transparent;
}